*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
    background-color:lavender;
    font-family:Arial, Helvetica, sans-serif;
}



#judul {
    text-align: center;
    position: relative;
    top: 40px;
    color:brown
}

.tbl {
    padding: 14px;
    border-collapse: collapse;
    width:90%;
    background-color:rgb(243, 255, 255);
    margin-top: 120px;
    margin-bottom: 40px;
    border-radius: 7px;
}



.content {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 12px;
}

tr td {
    padding: 13px 12px;

}

 .tbl tr:nth-child(even) {
    background-color:lightgray;
}

.daftar {
    position: absolute;
    top: 129px;
    left: 12%;
    text-decoration: none;
    background-color:  crimson;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.daftar:hover {
    background-color: rgb(132, 51, 51);
    transition: 0.5s;
}

.price {
    font-weight: bold;
}

tr th {
    background-color:brown;
    padding: 12px;
    color: #fff;
}

.btn1 {
    text-decoration: none;
    background-color:slateblue;
    color: #fff;
    padding: 5px 9px 5px 9px;
    font-size: 13px;
    border-radius: 4px;
}

.btn2 {
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding: 5px;
    font-size: 13px;
    border-radius: 4px;
}

#sp {
    font-size: 20px;
}




 