* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:lavender;
    font-family:Arial, Helvetica, sans-serif;
}

#jdl {
    text-align: center;
    position: relative;
    bottom: 20px;
    color:firebrick;
}

#jdl::after {
    content: '';
    width: 79px;
    height: 4px;
    border-radius: 3px;
    background-color:firebrick;
    position: absolute;
    bottom:-8px;
    left: 50%;
    transform: translateX(-50%);
}

ul li {
    list-style-type: none;
    margin: 9px;    
    display: flex;
    align-items: center;
}

.content2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    background-color:#ffff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form {
    margin-top: 28px;
}

input {
    border: none;
    width: 50%;
    height: 35px;
    border-radius: 5px;
    background-color: lightgray;
    outline: none;
    font-size: 14px;
    padding: 8px;
    flex: 1;
}

ul li label {
    width: 120px;
    font-weight: bold;
    margin-right: 5px;
}

#button {
    width: 25%;
    padding: 9px;
    border: none;
    background-color: brown;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

#button:hover {
    background-color: rgb(121, 30, 30);
    transition: 0.5s;
}

input:focus,
input:valid {
  background-color: lightgray;
  color: black;
}